#
# NodeJS
#
node_modules

#
# Build, testing, and coverage
#
coverage/
.nyc_output/
test/.output

#
# TypeScript
#
.tsbuildinfo


#
# VisualStudioCode
#
.vscode
.history

#
# macOS 
#
.DS_Store
.AppleDouble
.LSOverride